<h1>XXE</h1>
<h5>XML</h5>
<p>Refl: <%= @xxe %></p>
<p>Stored: <%= @stored_xxe %></p>
<p>Parser: <%= @parser %></p>

<h5>REXML</h5>
<p>Refl: SAFE<%= @xxe_rexml %></p>
<p>Stored: <%= @stored_xxe_rexml %></p>

<h5>LIBXML</h5>
<p>Refl: <%= @xxe_libxml %></p>
<p>Stored: <%= @stored_xxe_libxml %></p>
<p>HardCoded: <%= @xxe_fp_libxml %></p>

<h5>Nokogiri</h5>
<p>Refl: <%= @xxe_ng %></p>
<p>Stored: <%= @stored_xxe_ng %></p>
<p>HardCoded: <%= @xxe_fp_ng %></p>