<h1>WebGoat ROR JDC</h1>
<p><%= link_to "Command Injection and Code Injection", @url_comm_inj %></p>
<p><%= link_to "CSRF", @url_csrf %></p>
<p><%= link_to "Deserialization of Untrusted Data", @url_deser %></p>
<p><%= link_to "Dynamic Render Paths", @url_render %></p>
<p><%= link_to "Open Redirects and Forwards", @url_red %></p>
<p><%= link_to "SQL Injection", @url_sql_inj %></p>
<p><%= link_to "SSRF", @url_ssrf %></p>
<p><%= link_to "XSS", @url_xss %></p>
<p><%= link_to "XXE", @url_xxe %></p>